<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Регистрация</title>
</head>
<body>
    <!-- Загружаем тег, который позволит получить нам ссылку на подтверждение -->
    {% load account %}
    <h1>Поздравляю Вас, {{ user.username }}!</h1>
    <h2>Вы успешно зарегистрированы на {{ current_site.name }}</h2>

    <!-- Вставляем ссылку на активацию -->
    <h3>Нажмите <a href="{{ activate_url }}">подтвердить email</a> для активации Вашего аккаунта</h3>
    <h3>Не нажимайте эту ссылку, если это не Вы регистрировались на {{ current_site.name }}!</h3>
</body>
</html>