<!-- news/paginator.html -->
<!-- Пагинатор -->

                <!-- есть предыдущие страницы -->
                {% if post_list.has_previous %}
                    <!-- ссылка на первую страницу -->
                    <a href="?{{ page }}=1">first</a>
                    <!-- предыдущая страница не первая -->
                    {% if post_list.previous_page_number != 1 %}
                        <!-- символ промежутка -->
                        ...
                        <!-- ссылка на предыдущую страницу -->
                        <a href="?{{ page }}={{ post_list.previous_page_number }}">
                            {{ post_list.previous_page_number }}
                        </a>
                    {% endif %}
                {% endif %}

                <!-- текущая страница -->
                {{ post_list.number }}

                <!-- есть следующие страницы -->
                {% if post_list.has_next %}
                    <!-- ссылка на следующую страницу -->
                    <a href="?{{ page }}={{ post_list.next_page_number }}">

                        <!-- следующая страница последняя -->
                        {% if post_list.next_page_number == post_list.paginator.num_pages %}
                            last
                        <!-- следующая страница не последняя -->
                        {% else %}
                            {{ post_list.next_page_number }}
                        {% endif %}

                    </a>
                    <!-- следующая страница не последняя -->
                    {% if post_list.paginator.num_pages != post_list.next_page_number %}
                        <!-- символ промежутка -->
                        ...
                        <!-- ссылка на последнюю страницу -->
                        <a href="?{{ page }}={{ post_list.paginator.num_pages }}">last</a>
                    {% endif %}
                {% endif %}
