<!-- news/paginator.html -->
<!-- Пагинатор -->

{% if obj_list.has_other_pages %}
    <!-- есть предыдущие страницы -->
    {% if obj_list.has_previous %}
        <!-- ссылка на первую страницу -->
        <a href="?{{ page }}=1">first</a>
        <!-- предыдущая страница не первая -->
        {% if obj_list.previous_page_number != 1 %}
            <!-- символ промежутка -->
            ...
            <!-- ссылка на предыдущую страницу -->
            <a href="?{{ page }}={{ obj_list.previous_page_number }}">
                {{ obj_list.previous_page_number }}
            </a>
        {% endif %}
    {% endif %}

    <!-- текущая страница -->
    {{ obj_list.number }}

    <!-- есть следующие страницы -->
    {% if obj_list.has_next %}
        <!-- ссылка на следующую страницу -->
        <a href="?{{ page }}={{ obj_list.next_page_number }}">

            <!-- следующая страница последняя -->
            {% if obj_list.next_page_number == obj_list.paginator.num_pages %}
                last
            <!-- следующая страница не последняя -->
            {% else %}
                {{ obj_list.next_page_number }}
            {% endif %}

        </a>
        <!-- следующая страница не последняя -->
        {% if obj_list.paginator.num_pages != obj_list.next_page_number %}
            <!-- символ промежутка -->
            ...
            <!-- ссылка на последнюю страницу -->
            <a href="?{{ page }}={{ obj_list.paginator.num_pages }}">last</a>
        {% endif %}
    {% endif %}
{% endif %}
