<!-- templates/news/post_list.html -->
<!-- вывод всех постов -->

{% extends 'flatpages/default.html' %}

<!-- подключить фильтры -->
{% load custom_filters %}

<!-- подключить теги -->
{% load custom_tags %}

<!-- заголовок на вкладке -->
{% block title %}
    Новости
{% endblock title %}

<!-- заголовок на странице -->
{% block content_title %}
    <!-- вывод текущего времени, используя тег -->
    <h3>{% current_time_tag '%d %b %Y' %}</h3>
    <hr>
{% endblock content_title %}

<!-- содержимое страницы -->
{% block content %}

    <!-- есть посты в базе -->
    {% if post_list %}

       <!-- таблица постов -->
       <table class="table table-striped table-sm">

           <!-- строка заголовков столбцов -->
            <thead class="table-dark">
                <tr>
                    <th>Рейтинг</th>
                    <th>Пост</th>
                    <th>Автор</th>
                    <th>Дата</th>
                    <th>Название</th>
                    <th>Текст</th>
                </tr>
            </thead>

           <!-- выводим строки всех постов -->
           <tbody>
           {% for post in post_list %}
                <tr>
                    <!-- рейтинг поста -->
                    <td>{{ post.rating }}</td>
                    <!-- вид поста -->
                    <td><a href="/news/{{ post.id }}/view/">
                        {% if post.isNews %}
                            Новость
                        {% else %}
                            Статья
                        {% endif %}</a>
                    </td>
                    <!-- автор поста -->
                    <td>{{ post.author.user.username }}</td>
                    <!-- дата поста -->
                    <td style="white-space: nowrap">{{ post.time_in|date:'d M Y' }}</td>
                    <!-- заголовок поста -->
                    <td>{{ post.title }}</td>
                    <!-- текст поста -->
                    <td>{{ post.text|censor_filter|truncatewords:20 }}</td>
                </tr>
           {% endfor %}
            </tbody>

       </table>

    <!-- нет постов в базе -->
   {% else %}
       <h2>Новостей нет!</h2>
   {% endif %}

{% endblock content %}

<!-- пагинация (постраничный вывод информации) -->
{% block paging %}
<div>
    <hr>

    {% include "news/paginator.html" with news_list=page_obj %}

</div>
{% endblock paging %}
