<!-- news/post_main.html -->
<!-- главная таблица постов -->

{% extends 'flatpages/default.html' %}
{% load custom_filters %}
{% load custom_tags %}
{% block title %}Новости{% endblock title %}
{% block content_title %}<h3>{% current_time_tag '%d %b %Y' %}</h3><hr>{% endblock content_title %}

{% block content %}
    <table>
        <!-- посты -->
        <tr>
            <!-- новости -->
            <td valign="top" width="30%">
                {% include "news/post_table.html" with post_list=news_list mode='news' title='Новости' %}
            </td>
            <!-- статьи -->
            <td valign="top">
                {% include "news/post_table.html" with post_list=article_list mode='article' title='Статьи' %}
            </td>
        </tr>
        <!-- пагинация -->
        <tr>
            <!-- новости -->
            <th valign="top">
                {% include "news/paginator.html" with post_list=news_list page='news_page' %}
            </th>
            <!-- статьи -->
            <th valign="top">
                {% include "news/paginator.html" with post_list=article_list page='article_page' %}
            </th>
        </tr>
    </table>
{% endblock %}
